@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 0;
    color: #000000;
    background-color: #f2f2f2;
}

.page-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    min-height: 100%;
    margin: 0 auto;

    background-color: #ffffff;
}

.main-container {
    flex: 1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.button {
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    border-radius: 4px;
}

.button-brown {
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #756157;
    border-radius: 4px;
}

.button-blue {
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #82b3d3;
    border-radius: 4px;
}


/* Навигация */

.page-header {
    height: 64px;
}

.navigation {
    display: flex;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
}

.navigation-logo__link {
    margin-left: 70px;
}

.navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation .navigation-links {
    margin-left: 28px;
}

.navigation .navigation-clickable-links {
    margin-left: 285px;
}

.navigation a {
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.navigation-links__link {
    display: inline-block;
    padding: 20px 16px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: inherit;
}

.clickable-links__link {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 22px 12px;
}

.clickable-links__button {
    display: inline-block;
    margin: 14px 0 14px 20px;
    padding: 8px 34px;
    font-size: 16px;
    line-height: 20px;
}

.nav__favorites-count {
    position: absolute;
    display: flex;
    width: 20px;
    height: 20px;
    left: 20px;
    top: 11px;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #7DB54F;
    border-radius: 50%;
}

.clickable-links__item:first-child a {
    background: url("../images/icons/search.svg") no-repeat 50% 50%;
}

.clickable-links__item:nth-child(2) a {
    position: relative;
    background: url("../images/icons/heart.svg") no-repeat 50% 50%;
}

.main-hero {
    position: relative;
    height: 485px;
    color: #ffffff;
    background-color: #000000;
    background: url("../images/index-header-bg.jpg") no-repeat;
    background-size: 100% auto;
}

.welcome-image {
    margin-top: 51px;
}

.hero-Nikitas-triangles-image {
    position: absolute;
    background: url("../images/hero-triangels.svg") no-repeat;
}

.slogan-wrapper-headline {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.slogan-wrapper-desc {
    margin: 0;
    font-size: 22px;
    line-height: 26px;
}

/* Преимущества */

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
}

.advantages .slogan-wrapper-headline {
    display: inline-block;
    width: 620px;
    margin: 69px auto 0;
    text-align: center;
}

.advantages .slogan-wrapper-desc {
    width: 651px;
    margin: 25px auto 0;
    text-align: center;
}

.benefits .slogan-wrapper-headline {
    display: inline-block;
    width: 505px;
    margin: 64px auto 0;
    text-align: center;
}

.benefits .slogan-wrapper-desc {
    width: 490px;
    margin: 20px auto 64px;
    text-align: center;
}

.advantages-list__item {
    width: 400px;
    height: 385px;
}

.advantages-list__image {
    width: 800px;
}

.advantages-list .advantages-list__item {
    position: relative;
}

.advantages-list .advantages-list__item::after {
    position: absolute;
    top: 187.5px;
    left: 170px;
    content: "";
    width: 60px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
}

.benefits-list .advantages-list__item {
    position: relative;
}

.benefits-list .advantages-list__item::after {
    position: absolute;
    top: 81px;
    left: 162.5px;
    content: "";
    width: 75px;
    height: 72px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.benefits-list .advantages-list__item:first-child::after {
    background-image: url("../images/benefits/house.svg")
}

.benefits-list .advantages-list__item:nth-child(2)::after {
    background-image: url("../images/benefits/food.svg")
}

.benefits-list .advantages-list__item:last-child::after {
    top: 79px;
    height: 76px;
    background-image: url("../images/benefits/gift.svg")
}

.advantages-list__item-title,
.advantages-list__item-desc {
    display: inline-block;
    width: 230px;
    margin: 0 auto;
    text-align: center;
}

.advantages-list__item-title {
    width: 175px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-list__item-desc {
    font-size: 18px;
    line-height: 21px;
}

.advantages-list .advantages-list__item-title {
    margin-top: 101.5px;
}

.advantages-list .advantages-list__item-desc {
    margin-top: 62px;
}

.benefits-list .advantages-list__item-title {
    margin-top: 183px;
}

.benefits-list .advantages-list__item-desc {
    margin-top: 30px;
}

/* Задает фоновый цвет нечетным карточкам преимуществ */
.advantages-list__item:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.2);
}

/* Задает фоновый цвет четным карточкам преимуществ */
.advantages-list__item:nth-child(even) {
    background-color: rgba(131, 179, 211, 0.12);
}

.benefits .advantages-list__item:nth-child(2) {
    background-color: #ffffff;
}

.advantages-list .advantages-list__item:nth-child(1),
.advantages-list .advantages-list__item:nth-child(7) {
    color: #ffffff;
    background-color: #82B3D3;
}

.advantages-list .advantages-list__item:nth-child(1)::after,
.advantages-list .advantages-list__item:nth-child(7)::after {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Поиск отеля */

.slogan-wrapper {
    width: 592px;
    min-height: 214px;
    margin: 96px 304px;
}

.hotel-search .slogan-wrapper-desc {
    margin-top: 20px;
}

.search-hotel-button {
    display: inline-block;
    margin-top: 54px;
    padding: 8px 50px;
    font-size: 20px;
    line-height: 36px;
}

/* Рассылка */

.main-email-subscription {
    color: #ffffff;
    background-color: #000000;
    background: url("../images/blur-photos/newsletter-bg.jpg") no-repeat;
    background-size: 100% auto;
}

.main-email-subscription .slogan-wrapper-headline {
    display: inline-block;
    margin-top: 96px auto 0;
}

.main-email-subscription .slogan-wrapper-desc {
    width: 475px;
    margin: 20px auto 0;
}

.newsletter-form {
    margin-top: 54px;
}

.newsletter-form .field {
    /* width: 452px;
    min-height: 52px; */
    padding: 14px 345px 14px 20px;
    font-size: 18px;
    line-height: 24px;
    border-width: 0;
    border-radius: 4px 0 0 4px;
}

.newsletter-form .newsletter-button {
    margin-left: -4px;
    padding: 8px 50px;
    font-size: 20px;
    line-height: 36px;
    border-width: 0;
    border-radius: 0 4px 4px 0;
}

/* Футер */

.page-footer {
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
}

.footer-social {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: 70px;
}

.footer-social .social-button {
    display: inline-block;
    width: 47.33px;
    height: 40px;
}

.footer-social__item:first-child a {
    background: url("../images/social-icons/vk.svg") no-repeat 50% 50%;
}

.footer-social__item:nth-child(2) a {
    background: url("../images/social-icons/tg.svg") no-repeat 50% 50%;
}

.footer-social__item:last-child a {
    background: url("../images/social-icons/yt.svg") no-repeat 50% 50%;
}

.footer-telephone {
    display: inline-block;
    width: 720px;
    height: 50px;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
}

.footer-copyright {
    margin-right: 70px;
}

/* Хедер каталога */

.inner-header {
    height: 412px;
    margin: 0;
    text-align: left;
    color: #ffffff;
    background-color: #000000;
    background: url("../images/blur-photos/catalog-header-bg.jpg") no-repeat;
    background-size: 100% auto;
}

.inner-header-wrapper {
    width: 1000px;
    margin: 35px 70px 40px;
}

.inner-header-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
}

.breadcrumbs {
    display: flex;
    list-style: none;
    padding: 0;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
}

.breadcrumbs-item:first-child a {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 28.5px;
    background: url("../images/breadcrumbs-home.svg") no-repeat 50% 50%;
}

/* Фильтры */

.catalog-filter {
    display: flex;
    width: 1000px;
    margin: 0 70px 70px 70px;
}

.catalog-filter-group {
    border: none;
}

.catalog-filter-group:not(:nth-of-type(3)) {
    width: 150.43px;
    min-height: 157px;
    padding: 0;
    margin: 0;
}

.catalog-filter .catalog-filter-group:first-child {
    margin-right: 70px;
}

.catalog-filter-group .catalog-filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.catalog-filter-list label {
    display: inline-block;
}

.catalog-filter-list label:not(:nth-of-type(3)) {
    margin-bottom: 16px;
}

.catalog-filter-title {
    margin-bottom: 32px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.control {
    font-size: 18px;
    line-height: 23px;
}

.button-accept {
    font-size: 16px;
    line-height: 20px;
}

.button-cancel {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: transparent;
}

/* Опции показа карточек отелей */

.search-results {
    text-align: left;
}

.options-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.options-select {
    font-size: 18px;
    line-height: 21px;
}

.option-buttons__item:first-child a {
    background: url("../images/cards-view-icons/view-icon-1.svg") no-repeat 50% 50%;
}

.option-buttons__item:nth-child(2) a {
    background: url("../images/cards-view-icons/view-icon-2.svg") no-repeat 50% 50%;
}

.option-buttons__item:last-child a {
    background: url("../images/cards-view-icons/view-icon-3.svg") no-repeat 50% 50%;
}

/* Карточки отелей */

.hotels-cards {
    text-align: left;
}

.hotels-cards a {
    text-decoration: none;
}

.hotels-cards [class^="button"] {
    font-size: 16px;
    line-height: 20px;
}

.hotel-card-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #000000;
}

.hotel-card-info {
    font-size: 18px;
    line-height: 21px;
}

.hotel-card-price {
    text-align: right;
}

.card-favorites-selected-button {
    color: #ffffff;
    background-color: #7DB54F;
}

.card-star {
    background: url("../images/hotel-star.svg") no-repeat 50% 50%;
}

.card-rating-button {
    font-weight: 400;
    color: #333333;
    background-color: #F2F2F2;
}

/* Pagination */

.pagination a {
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
}

.pagination-current a {
    color: #000000;
    background-color: #F2F2F2;
}

.pagination-ellipsis a {
    color: #000000;
    background-color: transparent;
}
